table {

}

.pagenator {
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    font-size: 18px;
}

.pagenatorNow {
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    font-size: 22px;
}